{% extends "base.html" %}

{% block body %}
<div class="presentation">
    <h1 class="presentation_h1">HJ's Blog</h1>
    <p class="presentation_par">Welcome to HJ's Blog.</p>
</div>

<div class="posts_compact">
    <h2 class="posts_compact_h2">Latest Posts</h2>
    {% match posts %}
        {% when Some with (p) %}
            {% for i in 0..p.len() %}
                <div class="posts_compact_container">
                    <span class="posts_compact_index">{{ i }}</span>
                    <a class="posts_compact_link" href="{{ p[i].get_path() }}">{{ p[i].title}}</a>
                    <span class="posts_compact_date">{{ p[i].posted.format("%d-%m-%Y %H:%M") }}</span>
                    <span class="posts_compact_author">{{ p[i].username }}</span>
                </div>
            {% endfor %}
            <div class="posts_compact_container">
                <a class="posts_compact_all_posts" href="/blog">All posts →</a>
            </div>
        {% when None %}
            <span class="posts_compact_error">Currently there are no posts to be displayed, please try again later.</span>
    {% endmatch %}
</div>
{% endblock body %}
