<!-- Modal info content -->
<div id="modal-delete" class="modal">

  <!-- Modal content -->
	<div class="modal-delete-content">
		<div>
			<h2 class="modal-delete-h2">Continue?</h2>
		</div>
		<div class="modal-delete-body">
			<p>Are you sure you want to delete your post?</p>
            <br></br>
            <!-- TODO: delete post -->
            {#
            <a class="visit_post_delete_post" href="{{ url_for('user.delete_post', index=post.id) }}">Delete this post</a>
            #}
			<button class="visit_post_delete_post_abort" onclick="modalHide('modal-delete')">Abort</button>
		</div>
	</div>
</div>
