<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" charset="utf-8">
        {% match title %}
            {% when Some with (t) %}
                <title>HJBlog - {{ t }}</title>
            {% when None %}
                <title>HJBlog</title>
        {% endmatch %}
    </head>
    <body>
        {% match flash_messages %}
            {% when Some with(fm) %}
                {% for m in fm.iter() %}
                    <div id='alerts' onclick="alertDisplay()" style="text-align: center;">
                        <div class="{{ m.level }} alert-generic">
                            {{ m.content }}<br></br>
                        </div>
                        <br></br>
                    </div>
                {% endfor %}
            {% when None %}
        {% endmatch %}
        <div id="bottone" style="text-align: center; visibility: hidden;">
            <button id="alert_button" onclick="alertButton()">Show Messages</button>
        </div>

        {% block base_body %}{% endblock base_body %}

        <script src="/static/scripts/script.js"></script>
    </body>
</html>
