<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" charset="utf-8">
    {% match title %}
        {% when Some with (t) %}
            <title>HJBlog - {{ t }}</title>
        {% when None %}
            <title>HJBlog</title>
    {% endmatch %}
</head>

<body>
    {% match flash_messages %}
        {% when Some with(fm) %}
            {% for m in fm.iter() %}
                <div id='alerts' onclick="alertDisplay()" style="text-align: center;">
                    <div class="{{ m.level }} alert-generic">
                        {{ m.content }}<br></br>
                    </div>
                    <br></br>
                </div>
            {% endfor %}
        {% when None %}
    {% endmatch %}
    <div id="bottone" style="text-align: center; visibility: hidden;">
        <button id="alert_button" onclick="alertButton()">Show Messages</button>
    </div>

    <nav class="nav_bar">
        <div class="nav_bar_left_items">
            <div class="link_container">
                <a class="link" href="/">Home</a>
            </div>
            <div class="link_container">
                <a class="link" href="/blog">Blog</a>
            </div>
            <div class="link_container">
                <a class="donate_link link" href="#">Donate</a>
            </div>
        </div>

        <div class="nav_bar_right_items">
            {% match current_user %}
                {% when Some with (cu) %}
                    <div class="link_container">
                        <!-- TODO: manage profile -->
                        <a href="/profile/manage_profile" class="link">{{ cu.username }}</a>
                    </div>
                    <div class="link_container">
                        <a href="/auth/logout" class="link">Log Out</a>
                    </div>
                    <div class="link_container">
                        <!-- TODO: weather -->
                        <a href="#" class="link">Weather</a>
                    </div>
                    {% if cu.is_admin %}
                        <div class="link_container">
                            <a href="/user_actions/new_post" class="link">Post</a>
                        </div>
                    {% endif %}
                    {% match cu.profile_pic %}
                        {% when Some with (path) %}
                            <div class="img-container">
                                <!-- TODO: profile pic -->
                                <!-- <img src="#" alt="profile picture" /> -->
                            </div>
                        {% when None %}
                    {% endmatch %}
                {% when None %}
                    <div class="link_container">
                        <a href="/auth/register" class="link">Register</a>
                    </div>
                    <div class="link_container">
                        <a href="/auth/login" class="link">Log In</a>
                    </div>
            {% endmatch %}
        </div>
    </nav>

    <div class="body">
        {% block body %}{% endblock body %}
    </div>



    <div class="footer_wrapper">
        <footer class="footer_main">
            {#<a class="anchor_footer" href="{{ url_for('index') }}">Home</a>#}
            <a class="anchor_footer" href="#">About</a>
            <a class="anchor_footer" href="#">Donate</a>
            <a class="anchor_footer" href="#">TODO</a>
            <a class="anchor_footer" href="#">TODO</a>
            <a class="anchor_footer" href="#">TODO</a>
        </footer>
    </div>


    <script src="/static/scripts/script.js"></script>
</body>

</html>
